{{!-- 餐廳後台 --}}
{{> admin-tabs route = 'users'}}

<table class="table align-middle mt-4">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">序號</th>
      <th scope="col">使用者名稱</th>
      <th scope="col">使用者帳號</th>
      <th scope="col">使用者權限</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" onclick="return confirm(`確定要變更{{this.name}}使用者權限嗎?`)"
            style="text-decoration: none;">
            {{#if this.isAdmin}}set as user
            {{else}}set as admin
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>