<div class="row">
  <div class="col-md-12">
    <h2>{{field.name}}</h1>
  </div>
  <div class="col col-lg-6">
    <img class="img-responsive center-block" src="{{field.cover}}"
      style="width:auto; max-width: 390px; margin-bottom: 1rem; transition: opacity 0.5s; opacity:0;"
      onload="this.style.opacity=1;">
    <br>
    {{!-- 預留 Dash board 按鈕 --}}
    <form action="/favorite/{{field.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-outline-dark mb-3 me-3">DASH BOARD</button>
    </form>
    
    {{!-- 加入收藏按鈕 --}}
    {{#if isFavorited }}
    <form action="/favorite/{{field.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-outline-danger mb-3 me-3">移除最愛</button>
    </form>
    {{else}}
    <form action="/favorite/{{field.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-outline-primary mb-3 me-3">加到最愛</button>
    </form>
    {{/if}}
  </div>
  <div class="col-12 col-lg-6">
    <h5><strong>綠電憑證資訊</strong></h5>
    <ul class="list-unstyled">
      <li><strong>累積張數: </strong>{{formatNumber field.totalAmount}} 張</li>
      <li><strong>交易張數: </strong>{{formatNumber field.transAmount}} 張</li>
      <li><strong>剩餘張數: </strong>{{formatNumber field.remainAmount}} 張</li>
    </ul>
    <br>
    <h5><strong>場域資訊</strong></h5>
    <ul class="list-unstyled">
      <li><strong>類別: </strong>{{field.Category.name}}</li>
      <li><strong>地址: </strong> {{field.fullAddress}}</li>
    </ul>
  </div>
  <hr>
</div>

{{!-- 瀏覽評論 --}}
<h3 class="mb-3">所有評論：</h3>
{{#each field.Comments}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
  <button type="submit" class="btn btn-danger" onclick="return confirm(`確定要刪除這則評論嗎?`)" {{#if ../user.isAdmin}} {{else}}
    {{#ifCond this.User.name ../user.name }} {{else}} disabled {{/ifCond}} {{/if}}>Delete</button>
</form>
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
</blockquote>
<hr>
{{/each}}


{{!-- 新增評論的表單 --}}
<form action="/comments" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="fieldId" value="{{field.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>

